@font-face {
    font-family: 'Coolvetica';
    src: url('./fonts/Coolvetica-Regular.woff2') format('woff2'),
        url('./fonts/Coolvetica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Creato Display';
    src: url('./fonts/CreatoDisplay-Regular.woff2') format('woff2'),
        url('./fonts/CreatoDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

body {
    margin: 0;
}

.container-left {
    height: 100vh;
    width: calc(100vw/3); 
    background-image: url("./images/nature-casey-horner.jpg");
    background-size: cover;
}